{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index/">Home</a></li>
          <li>Member Edit</li>
        </ol>
        <h2>회원정보 수정</h2>


      </div>
    </section><!-- End Breadcrumbs -->


  <script>
    function delWishlist(id) {
      const el = document.getElementById(id)
      el.innerHTML = ""
    }
  </script>

  </main><!-- End #main -->

{% endblock %}