{% load static %}
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HSOLLC</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}?after" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6YXK7R2G82"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6YXK7R2G82');
</script>
<meta name="google-site-verification" content="GwzEhfyy6JWQUOyoO8zWdq0NXO0LbtbHkj7yaOPuwJA" />

</head>
<body>
{% include 'blog/navbar.html' %}
<div id="google_translate_element"></div>
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
	function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'ko',autoDisplay: false}, 'google_translate_element');}
</script>


  <audio autoplay loop>
<!--      <source src="./music/johann_sebastian_bach_air.mp3">-->
    </audio>
<!--<section>-->
<!--<div class="container">-->
<!--        <div class="row justify-content-between">-->
<!--        <div class="col-lg-6 text-light">-->
<!--            <h1 class="mt-5">US TOP 10 News</h1>-->
<!--        </div>-->

<!--        <div class="row justify-content-between">-->
<!--        {% for newsline in newslines %}-->
<!--        <h3>{{ newsline }}</h3>-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--        </div>-->
<!--</div>-->
<!--</section>-->

<section>
        <div class="row justify-content-between">
        <div class="col-lg-6 text-light">
            <h1 class="mt-5">Recent World Culture News</h1>
            <br>
        </div>
        <div class="row justify-content-between">
        {% for new, des, i, url in mylist %}
            <a href={{url}} style="align:left;"><h4>LinktoSite</h4></a><br>
            <h3 style="align=left">{{new}}</h3>
            <img src="{{i}}" alt="" style="margin-left:100px;width:200px; height:200px; align=left">
            <br>
            <h4 style="margin-left:100px; align=left">{{des}}</h4><br>
            <hr>
        {% endfor %}
        </div>
        </div>
</section>

<br><br> <div class="container">
            <div class="title-box left">Type To Speak</div>
            <form id="form">
            <div class="form-group">
            <textarea
            class="textarea-cont margin-radius"
            id="text-input"
            cols="130"
            rows="3"
            placeholder="Write, Type or Copy and Paste any sentences to be translated..."
            ></textarea>
            <div class="container less-width">
            <label for="rate" class="text-size center label-pos margin-radius">Rate</label>
            <div id="rate-value" class="float-right">1</div>
            <input type="range" class="input-range margin-radius" id="rate" min="0" max="2" value="1" step="0.1">

            <label for="pitch" class="text-size center label-pos margin-radius">Pitch</label>
            <div class="float-right" id="pitch-value">1</div>
            <input type="range" class="input-range margin-radius" id="pitch" min="0" max="2" value="1" step="0.1">
            </div>
            <label class="text-size speaker-select-label">Choose the speaker:</label>
            <select id="voice-select" class="form-control margin-radius"></select>
            </div>
            <button class="btn margin-radius">Speak</button>
            </form>
            </div>

<script  type="text/javascript">
    //  Init SpeechSynth API
const synth = window.speechSynthesis;

//  DOM elements
const textForm = document.querySelector("#form");
const textInput = document.querySelector("#text-input");
const voiceSelect = document.querySelector("#voice-select");
const rate = document.querySelector("#rate");
const rateValue = document.querySelector("#rate-value");
const pitch = document.querySelector("#pitch");
const pitchValue = document.querySelector("#pitch-value");

// Init voices array
let voices = [];

const getVoices = () => {
  voices = synth.getVoices();

  // Loop through voices and create an option for each one
  voices.forEach(voice => {
    // Create an option element
    const option = document.createElement('option');
    // Fill the option with voices and lang
    option.textContent = voice.name + '(' + voice.lang + ')';

    // Set needed option attributes
    option.setAttribute("data-lang", voice.lang);
    option.setAttribute("data-name", voice.name);
    voiceSelect.appendChild(option);
  });
};

getVoices();
if (synth.onvoiceschanged !== undefined) {
  synth.onvoiceschanged = getVoices;
}

// Speak
const speak = () => {
  // Check if speaking
  if (synth.speaking) {
    console.error("Already Speaking...");
    return;
  }
  if (textInput.value !== "") {
    // Get speak text
    const speakText = new SpeechSynthesisUtterance(textInput.value);
    // Speak end
    speakText.onend = (e) => {
      console.log("Done speaking...");
    };

    // Speak error
    speakText.onerror = (e) => {
      console.error("Something went wrong!");
    };

    //  Selected voice
    const selectedVoice =
      voiceSelect.selectedOptions[0].getAttribute("data-name");

    //  Loop through voices
    voices.forEach((voice) => {
      if (voice.name === selectedVoice) {
        speakText.voice = voice;
      }
    });

    // Set pitch and rate
    speakText.rate = rate.value;
    speakText.pitch = pitch.value;
    // Speak
    synth.speak(speakText)
  }
};


//  Event LISTENERS

// Text form submit
textForm.addEventListener("submit",e => {
  e.preventDefault();
  speak();
  textInput.blur();
});

// Rate value change
rate.addEventListener("change",e => rateValue.textContent = rate.value);

// Pitch value change
pitch.addEventListener("change",e => pitchValue.textContent = pitch.value);

// voice select change
voiceSelect.addEventListener("change",e => {
  speak()
  console.log(speak);

});
</script>

<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!--chatting tag-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6329b5b654f06e12d895cc2a/1gdderkmj';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
<!--comments tag-->
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://web1-xs4erwk08l.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
