{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
{% load static %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index/">Home</a></li>
          <li>Performances & Exhibitions</li>
        </ol>
        <h2>공연 | 전시</h2>

      </div>
    </section><!-- End Breadcrumbs -->

<!--
    <section class="search" style="text-align: center;">
      <form action="">
        검색키워드:&nbsp;&nbsp;<input type="text" name="keyword"><button>검색</button><br>
        지역:&nbsp;&nbsp;<input type="text" name="area"><br>
        기간:&nbsp;&nbsp;<input type="date">&nbsp;~&nbsp;<input type="date"><br>
        분야:&nbsp;&nbsp;
        <input type="checkbox" value="공연">&nbsp;공연&nbsp;&nbsp;
        <input type="checkbox" value="전시">&nbsp;전시<br><br>
        <input type="submit" value="조회하기">
      </form>
    </section>

    <hr>
-->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8 entries">
            <div>
              <table class="performance_table">
                <thead>
                  <tr style="border-bottom: 1px solid black; background-color:#e6e6e6;">
                    <th class="performance_thumbnail"></th>
                    <th class="performance_title">제목</th>
                    <th class="performance_startDate">시작일</th>
                    <th class="performance_endDate">마감일</th>
                    <th class="performance_place">장소</th>
                    <th class="performance_area">지역</th>
                    <th class="performance_realName">분류</th>
                    <th>찜</th>
                  </tr>
                </thead>
                <tbody>
                  {% for performance in performance_list %}
                  <tr style="border-bottom: 1px solid lightgray;">
                    <td class="performance_thumbnail"><img src="{{performance.thumbnail}}" style="width: 100px;"></td>
                    <td class="performance_title">{{performance.title}}</td>
                    <td class="performance_startDate">{{performance.startDate}}</td>
                    <td class="performance_endDate">{{performance.endDate}}</td>
                    <td class="performance_place">{{performance.place}}</td>
                    <td class="performance_area">{{performance.area}}</td>
                    <td class="performance_realName">{{performance.realmName}}</td>
                    <td><button style="border:none; padding:0;" onclick=""><span style="color:#b3b3b3;">♡</span></button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>

              <div class="blog-pagination">
                <!-- 페이징 처리 시작 -->
                <ul class="justify-content-center">
                  <!-- 첫 페이지 -->
                  <li class="page-first">
                    <a class="page-link" href="?{{current_path}}&page=1"><<</a>
                  </li>
                  <!-- 이전 페이지 -->
                  {% if performance_list.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?{{current_path}}&page={{performance_list.previous_page_number}}"><</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><</a>
                  </li>
                  {% endif %}
                  <!-- 페이지 리스트 -->
                  {% for page_number in performance_list.paginator.page_range %}
                  {% if page_number >= performance_list.number|add:-3 and page_number <= performance_list.number|add:3 %}

                    {% if page_number == performance_list.number %}
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?{{current_path}}&page={{page_number}}">{{page_number}}</a>
                      </li>
                    {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?{{current_path}}&page={{page_number}}">{{page_number}}</a>
                    </li>
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                  <!-- 다음 페이지 -->
                  {% if performance_list.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?{{current_path}}&page={{performance_list.next_page_number}}">></a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">></a>
                  </li>
                  {% endif %}
                  <!-- 마지막 페이지 -->
                  <li class="page-first">
                    <a class="page-link" href="?{{current_path}}&page={{performance_list.paginator.num_pages}}">>></a>
                  </li>
                </ul>
                <!-- 페이징 처리 끝 -->
              </div>
            </div>
          </div><!-- End blog entries list -->

          <div class="col-lg-4">
            <div class="sidebar">
              <h3 class="sidebar-title">검색</h3>
              <div class="sidebar-item search-form">
                <form action="{% url 'InterfaceApp:performance'%}" method="GET">
                  {% csrf_token %}
                  <input type="text" name="performance_search">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->
              <br>
              <h3 class="sidebar-title">기간</h3>
              <div>
              <br>
              </div>
              <h3 class="sidebar-title">지역</h3>
              <div class="sidebar-item tags">
                <form action="{% url 'InterfaceApp:performance'%}" method="GET">
                {% csrf_token %}
                  <ul>
                    <li>
                      <a href="javascript:area('gangwon')" class="gangwon">강원</a>
                      <input type="checkbox" id="gangwon" name="area" value="강원" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('gyeonggi')" class="gyeonggi">경기</a>
                      <input type="checkbox" id="gyeonggi" name="area" value="경기" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('gyeongnam')" class="gyeongnam">경남</a>
                      <input type="checkbox" id="gyeongnam" name="area" value="경남" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('gyeongbuk')" class="gyeongbuk">경북</a>
                      <input type="checkbox" id="gyeongbuk" name="area" value="경북" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('gwangju')" class="gwangju">광주</a>
                      <input type="checkbox" id="gwangju" name="area" value="광주" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('daegu')" class="daegu">대구</a>
                      <input type="checkbox" id="daegu" name="area" value="대구" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('daejeon')" class="daejeon">대전</a>
                      <input type="checkbox" id="daejeon" name="area" value="대전" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('busan')" class="busan">부산</a>
                      <input type="checkbox" id="busan" name="area" value="부산" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('seoul')" class="seoul">서울</a>
                      <input type="checkbox" id="seoul" name="area" value="서울" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('sejong')" class="sejong">세종</a>
                      <input type="checkbox" id="sejong" name="area" value="세종" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('ulsan')" class="ulsan">울산</a>
                      <input type="checkbox" id="ulsan" name="area" value="울산" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('incheon')" class="incheon">인천</a>
                      <input type="checkbox" id="incheon" name="area" value="인천" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('jeonnam')" class="jeonnam">전남</a>
                      <input type="checkbox" id="jeonnam" name="area" value="전남" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('jeonbuk')" class="jeonbuk">전북</a>
                      <input type="checkbox" id="jeonbuk" name="area" value="전북" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('jeju')" class="jeju">제주</a>
                      <input type="checkbox" id="jeju" name="area" value="제주" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('chungnam')" class="chungnam">충남</a>
                      <input type="checkbox" id="chungnam" name="area" value="충남" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('chungbuk')" class="chungbuk">충북</a>
                      <input type="checkbox" id="chungbuk" name="area" value="충북" style="display:none;">
                    </li>
                    <li>
                      <a href="javascript:area('etc')" class="etc">기타</a>
                      <input type="checkbox" id="etc" name="area" value="기타" style="display:none;">
                    </li>
                  </ul>
                  <ul style="text-align: center;">
                    <li><button type="submit" onclick="#">해당 지역으로 검색</button></li>
                  </ul>
                </form>
              </div><!-- End sidebar categories-->
              <br>
              <h3 class="sidebar-title">분류</h3>
              <div class="sidebar-item tags">
                <form>
                  <ul>
                    <li><a href="#">국악</a></li>
                    <li><a href="#">무용</a></li>
                    <li><a href="#">미술</a></li>
                    <li><a href="#">연극</a></li>
                    <li><a href="#">음악</a></li>
                    <li><a href="#">기타</a></li>
                  </ul>
                </form>
              </div><!-- End sidebar tags-->
              <div class="sidebar-item tags">
                <br><br>
                <ul style="text-align: center;">
                  <li><a href="{% url 'InterfaceApp:performance'%}">초기화</a></li>
                </ul>

              </div><!-- End sidebar tags-->
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  <script>
    var selectedAreaDict = {
      'gangwon': false,
      'gyeonggi': false,
      'gyeongnam': false,
      'gyeongbuk': false,
      'gwangju': false,
      'daegu': false,
      'daejeon': false,
      'busan': false,
      'seoul': false,
      'sejong': false,
      'ulsan': false,
      'incheon': false,
      'jeonnam': false,
      'jeonbuk': false,
      'jeju': false,
      'chungnam': false,
      'chungbuk': false,
      'etc': false
    }
    var matchingAreaDict = {
      '강원': 'gangwon',
      '경기': 'gyeonggi',
      '경남': 'gyeongnam',
      '경북': 'gyeongbuk',
      '광주': 'gwangju',
      '대구': 'daegu',
      '대전': 'daejeon',
      '부산': 'busan',
      '서울': 'seoul',
      '세종': 'sejong',
      '울산': 'ulsan',
      '인천': 'incheon',
      '전남': 'jeonnam',
      '전북': 'jeonbuk',
      '제주': 'jeju',
      '충남': 'chungnam',
      '충북': 'chungbuk',
      '기타': 'etc'
    }

    function area(area){
      if(!selectedAreaDict[area]){
        document.getElementById(area).checked = true;
        selectedAreaDict[area] = true;
        document.getElementsByClassName(area)[0].style.cssText = 'color: #fff; border: 1px solid #e03a3c; background: #e03a3c;'
      }
      else{
        document.getElementById(area).checked = false;
        selectedAreaDict[area] = false;
        document.getElementsByClassName(area)[0].style.cssText = '  color: #515151; font-size: 14px; padding: 6px 14px; margin: 0 6px 8px 0; border: 1px solid #c4c4c4; display: inline-block; transition: 0.3s; background: none;'
      }
    }

    const url = new URL(window.location.href);
    const urlParams = url.searchParams;
    let paramsAreaValueList = [];
    let paramsAreaIdList = [];
    if (urlParams.getAll('area').length >= 1){
      paramsAreaValueList = urlParams.getAll('area');
      for(var i=0; i<paramsAreaValueList.length; i++){
        paramsAreaIdList[i] = matchingAreaDict[paramsAreaValueList[i]];
      }
    }
    for(var i=0; i<paramsAreaIdList.length; i++){
      area(paramsAreaIdList[i]);
    }
  </script>

  </main><!-- End #main -->

{% endblock %}