{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index/">Home</a></li>
          <li>Performances & Exhibitions</li>
        </ol>
        <h2>공연 | 전시</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="search" style="text-align: center;">
      <form action="">
        검색키워드:&nbsp;&nbsp;<input type="text" name="keyword"><button>검색</button><br>
        지역:&nbsp;&nbsp;<input type="text" name="area"><br>
        기간:&nbsp;&nbsp;<input type="date">&nbsp;~&nbsp;<input type="date"><br>
        분야:&nbsp;&nbsp;
        <input type="checkbox" value="공연">&nbsp;공연&nbsp;&nbsp;
        <input type="checkbox" value="전시">&nbsp;전시<br><br>
        <input type="submit" value="조회하기">
      </form>
    </section>
    <hr>
    <table style="margin-left:auto; margin-right:auto; padding:20px;">
      <thead>
        <tr>
          <th>썸네일</th>
          <th>제목</th>
          <th>시작일</th>
          <th>종료일</th>
          <th>장소</th>
          <th>지역</th>
          <th>유형</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="{{ thumbnail }}" style="height:50px;"></td>
          <td>{{ title }}</td>
          <td>{{ from }}</td>
          <td>{{ to }}</td>
          <td>{{ place }}</td>
          <td>{{ area }}</td>
          <td>{{ realmName }}</td>
        </tr>
      </tbody>
    </table>
    <div></div>
      <script>
        /* Javascript 샘플 코드 */
        var xhr = new XMLHttpRequest();
        var url = 'http://www.culture.go.kr/openapi/rest/publicperformancedisplays/area'; /*URL*/
        var queryParams = '?' + encodeURIComponent('serviceKey') + '='+'서비스키'; /*Service Key*/
        queryParams += '&' + encodeURIComponent('ComMsgHeader') + '=' + encodeURIComponent(''); /**/
        queryParams += '&' + encodeURIComponent('RequestTime') + '=' + encodeURIComponent('20100810:23003422'); /**/
        queryParams += '&' + encodeURIComponent('CallBackURI') + '=' + encodeURIComponent(''); /**/
        queryParams += '&' + encodeURIComponent('MsgBody') + '=' + encodeURIComponent(''); /**/
        queryParams += '&' + encodeURIComponent('sido') + '=' + encodeURIComponent('서울'); /**/
        queryParams += '&' + encodeURIComponent('gugun') + '=' + encodeURIComponent('동작구'); /**/
        queryParams += '&' + encodeURIComponent('from') + '=' + encodeURIComponent('20100101'); /**/
        queryParams += '&' + encodeURIComponent('to') + '=' + encodeURIComponent('20101201'); /**/
        queryParams += '&' + encodeURIComponent('place') + '=' + encodeURIComponent('1'); /**/
        queryParams += '&' + encodeURIComponent('gpsxfrom') + '=' + encodeURIComponent('129.101'); /**/
        queryParams += '&' + encodeURIComponent('gpsyfrom') + '=' + encodeURIComponent('35.142'); /**/
        queryParams += '&' + encodeURIComponent('gpsxto') + '=' + encodeURIComponent('129.101'); /**/
        queryParams += '&' + encodeURIComponent('gpsyto') + '=' + encodeURIComponent('35.142'); /**/
        queryParams += '&' + encodeURIComponent('cPage') + '=' + encodeURIComponent('1'); /**/
        queryParams += '&' + encodeURIComponent('rows') + '=' + encodeURIComponent('10'); /**/
        queryParams += '&' + encodeURIComponent('keyword') + '=' + encodeURIComponent(''); /**/
        queryParams += '&' + encodeURIComponent('sortStdr') + '=' + encodeURIComponent('1'); /**/
        xhr.open('GET', url + queryParams);
        xhr.onreadystatechange = function () {
            if (this.readyState == 4) {
                alert('Status: '+this.status+'nHeaders: '+JSON.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);
            }
        };

        xhr.send('');
      </script>

  </main><!-- End #main -->

{% endblock %}