{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
{% load static %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index/">Home</a></li>
          <li>Performances & Exhibitions</li>
        </ol>
        <h2>공연 | 전시</h2>

      </div>
    </section><!-- End Breadcrumbs -->

<!--
    <section class="search" style="text-align: center;">
      <form action="">
        검색키워드:&nbsp;&nbsp;<input type="text" name="keyword"><button>검색</button><br>
        지역:&nbsp;&nbsp;<input type="text" name="area"><br>
        기간:&nbsp;&nbsp;<input type="date">&nbsp;~&nbsp;<input type="date"><br>
        분야:&nbsp;&nbsp;
        <input type="checkbox" value="공연">&nbsp;공연&nbsp;&nbsp;
        <input type="checkbox" value="전시">&nbsp;전시<br><br>
        <input type="submit" value="조회하기">
      </form>
    </section>

    <hr>
-->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8 entries">
            <div>
              <table class="performance_table">
                <thead>
                  <tr style="border-bottom: 1px solid black; background-color:#e6e6e6;">
                    <th class="performance_thumbnail"></th>
                    <th class="performance_title">제목</th>
                    <th class="performance_startDate">시작일</th>
                    <th class="performance_endDate">마감일</th>
                    <th class="performance_place">장소</th>
                    <th class="performance_area">지역</th>
                    <th class="performance_realName">분류</th>
                    <th>찜</th>
                  </tr>
                </thead>
                <tbody>
                  {% for performance in performance_list %}
                  <tr style="border-bottom: 1px solid lightgray;">
                    <td class="performance_thumbnail"><img src="{{performance.thumbnail}}" style="width: 100px;"></td>
                    <td class="performance_title">{{performance.title}}</td>
                    <td class="performance_startDate">{{performance.startDate}}</td>
                    <td class="performance_endDate">{{performance.endDate}}</td>
                    <td class="performance_place">{{performance.place}}</td>
                    <td class="performance_area">{{performance.area}}</td>
                    <td class="performance_realName">{{performance.realmName}}</td>
                    <td><button style="border:none; padding:0;" onclick=""><span style="color:#b3b3b3;">♡</span></button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>

              <div class="blog-pagination">
                <!-- 페이징 처리 시작 -->
                <ul class="justify-content-center">
                  <!-- 첫 페이지 -->
                  <li class="page-first">
                    <a class="page-link" href="?{{current_path}}&page=1"><<</a>
                  </li>
                  <!-- 이전 페이지 -->
                  {% if performance_list.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?{{current_path}}&page={{performance_list.previous_page_number}}"><</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><</a>
                  </li>
                  {% endif %}
                  <!-- 페이지 리스트 -->
                  {% for page_number in performance_list.paginator.page_range %}
                  {% if page_number >= performance_list.number|add:-3 and page_number <= performance_list.number|add:3 %}

                    {% if page_number == performance_list.number %}
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?{{current_path}}&page={{page_number}}">{{page_number}}</a>
                      </li>
                    {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?{{current_path}}&page={{page_number}}">{{page_number}}</a>
                    </li>
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                  <!-- 다음 페이지 -->
                  {% if performance_list.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?{{current_path}}&page={{performance_list.next_page_number}}">></a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">></a>
                  </li>
                  {% endif %}
                  <!-- 마지막 페이지 -->
                  <li class="page-first">
                    <a class="page-link" href="?{{current_path}}&page={{performance_list.paginator.num_pages}}">>></a>
                  </li>
                </ul>
                <!-- 페이징 처리 끝 -->
              </div>
            </div>
          </div><!-- End blog entries list -->

          <div class="col-lg-4">
            <div class="sidebar">
              <h3 class="sidebar-title">검색</h3>
              <div class="sidebar-item search-form">
                <form action="{% url 'InterfaceApp:performance'%}" method="GET">
                  {% csrf_token %}
                  <input type="text" name="performance_search">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->
              <br>
              <h3 class="sidebar-title">기간</h3>
              <div>
              <br>
              </div>
              <h3 class="sidebar-title">지역</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">강원</a></li>
                  <li><a href="#">경기</a></li>
                  <li><a href="#">경남</a></li>
                  <li><a href="#">경북</a></li>
                  <li><a href="#">광주</a></li>
                  <li><a href="#">대구</a></li>
                  <li><a href="#">대전</a></li>
                  <li><a href="#">부산</a></li>
                  <li><a href="#">서울</a></li>
                  <li><a href="#">세종</a></li>
                  <li><a href="#">울산</a></li>
                  <li><a href="#">인천</a></li>
                  <li><a href="#">전남</a></li>
                  <li><a href="#">전북</a></li>
                  <li><a href="#">제주</a></li>
                  <li><a href="#">충남</a></li>
                  <li><a href="#">충북</a></li>
                  <li><a href="#">기타</a></li>
                </ul>
              </div><!-- End sidebar categories-->
              <br>
              <h3 class="sidebar-title">분류</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">국악</a></li>
                  <li><a href="#">무용</a></li>
                  <li><a href="#">미술</a></li>
                  <li><a href="#">연극</a></li>
                  <li><a href="#">음악</a></li>
                  <li><a href="#">기타</a></li>
                </ul>
              </div><!-- End sidebar tags-->
              <div class="sidebar-item tags">
                <br><br>
              <!-- TODO: 초기화 기능 구현 -->
                <ul style="text-align: center;">
                  <li><a href="#">초기화</a></li>
                </ul>

              </div><!-- End sidebar tags-->
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  <script>

  </script>

  </main><!-- End #main -->

{% endblock %}