{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index/">Home</a></li>
          <li>Wish List</li>
        </ol>
        <h2>찜 목록</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <div>
      <!-- DB에서 값 받아 출력하기 임시 테스트 -->
      <table>
        <thead>
          <tr>
            <th>구분</th>
            <th>포스터</th>
            <th>제목</th>
            <th>시작일</th>
            <th>마감일</th>
            <th>장소</th>
            <th>지역</th>
          </tr>
        </thead>
        <tbody>
          {% for item in wishlist %}
          <tr>
            <td>{{item.realmName}}</td>
            <td><img src="{{performance.thumbnail}}" style="width: 100px;"></td>
            <td>{{item.title}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.endDate}}</td>
            <td>{{item.place}}</td>
            <td>{{item.area}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <!-- 페이징 처리 시작 -->
        <ul class="pagination justify-content-center">
          <!-- 첫 페이지 -->
          <li class="page-first">
            <a class="page-link" href="?page=1">첫 페이지</a>
          </li>
          <!-- 이전 페이지 -->
          {% if performance_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{performance_list.previous_page_number}}">이전</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
          </li>
          {% endif %}
          <!-- 페이지 리스트 -->
          {% for page_number in performance_list.paginator.page_range %}
          {% if page_number >= performance_list.number|add:-3 and page_number <= performance_list.number|add:3 %}
            {% if page_number == performance_list.number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
              </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
            </li>
            {% endif %}
          {% endif %}
          {% endfor %}
          <!-- 다음 페이지 -->
          {% if performance_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{performance_list.next_page_number}}">다음</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
          </li>
          {% endif %}
          <!-- 마지막 페이지 -->
          <li class="page-first">
            <a class="page-link" href="?page={{performance_list.paginator.num_pages}}">마지막 페이지</a>
          </li>
        </ul>
        <!-- 페이징 처리 끝 -->
      </div>

    </div>


  </main><!-- End #main -->

{% endblock %}