{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index/">Home</a></li>
          <li>Wish List</li>
        </ol>
        <h2>찜 목록</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <div>
      <!-- DB에서 값 받아 출력하기 임시 테스트 -->
      <table>
        <thead>
          <tr>
            <th>구분</th>
            <th>포스터</th>
            <th>제목</th>
            <th>시작일</th>
            <th>마감일</th>
            <th>장소</th>
            <th>지역</th>
            <th>찜 해제</th>
          </tr>
        </thead>
        <tbody>
          {% for item in wishlist %}
          <tr>
            <td>{{item.realmName}}</td>
            <td><img src="{{item.thumbnail}}" style="width: 100px;"></td>
            <td>{{item.title}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.endDate}}</td>
            <td>{{item.place}}</td>
            <td>{{item.area}}</td>
            <td><button style="border:none; padding:0;" onclick=""><span style="color:gray;">ⓧ</span></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>

      </div>

    </div>


  </main><!-- End #main -->

{% endblock %}